.content
  .content-padded(style="text-align:center")
    %a(href='index-mail.html')
      %img#splash(src="splash.png")

:javascript
  var audioElement = document.createElement('audio');
  audioElement.setAttribute('src', 'audio/sbruffone.mp3');
  audioElement.play()