.footer
  .container-fluid

    .btn-group.btn-group-justified
      %a.btn.btn-default(type="button" class="btn btn-default" href='index-mail.html')
        Mail
      %a.btn.btn-default(type="button" class="btn btn-default" href='index-map.html')
        Map
      %a.btn.btn-default(type="button" class="btn btn-default" href='index-gallery.html')
        Gallery

