.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container-fluid(style="padding-top: 12px")
    .col-xs-1
      %a(href='index.html')
        %img(src='logo.png' height="25")
    .col-xs-10(style="text-align:center")
      .brand{href: "#", style:'padding-top: 2px; font-weight:bold'} Emula
    